@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Aquire;
    src: url('./assets/fonts/Aquire.woff') format(woff);
}

body{
    font-family: Nunito;
}

.font-aquire{
    font-family: Aquire;
}
.home{
    background-image: url('./assets/images/background.jpg');
    background-attachment:fixed;
    background-size: cover;
}
.home-logo{
    opacity: 0.5;
}
